{% extends "blogbase.html" %}

{% block content %}

	<div class="log">
    <div>
      {% if not user %}      
      <a href="/login">login</a> | <a href="/signup">signup</a>
      <br>
      <a href="/blog/newpost">New Post</a>
      {% else %}
       
      {{user}} (<a href="/logout">logout</a>)
      <br>
      <a href="/blog/newpost">New Post</a>
      {% endif %}
      </div>
      <br>      
  </div>

  {% for p in posts %}
    {{ p.render() | safe }}
    <br><br>
  {% endfor %}

  <div class="age">
  	{{age}}
  </div>

{% endblock %}
