{% extends "base.html" %}

{% block content %}

<div class="log">
    <div>
      {% if not user %}
      <a href="/login">login</a> | <a href="/signup">signup</a>
      {% else %}
      {{user}} (<a href="/logout">logout</a>)
      {% endif %}
      </div>
      <br>      
</div>
<h2 style="position:absolute; left: 40px; top: 40px;"> Hello, check my Wiki </h2>

<div class="links">
  {% for wiki in wikis %}
  <a href="/wiki{{wiki.path}}">{{wiki.path}}</a>
  <br>
  {% endfor %}
</div>



{% endblock %}


<!-- <!DOCTYPE html>

<html>
  <head>
    <title>Wiki</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />

  </head>

  <body>
    <h2>
      Hello, check my Wiki.
    </h2>
    
    <div class="log">
      {% if not user %}
      <a href="/login">login</a> | <a href="/signup">signup</a>
      {% else %}
        {{user}} (<a href="/logout">logout</a>)
      {% endif %}
    </div>
    
  </body>

</html> -->
