{% extends "base.html" %}

{% block title %}
Blog
{% endblock %}

{% block content %}
  
  <div class="log">
    <div>
      {% if not user %}      
      <a href="/login">login</a> | <a href="/signup">signup</a>
      <br>
      <a href="/blog">Go to Blog</a> 
      {% else %}
       
      {{user}} (<a href="/logout">logout</a>)
      
      {% endif %}
      </div>
      <br>      
  </div>

  <div>
    <a href="/blog" class="link"> <h1 class="text-center">Blog</h1> </a>
  </div>

  <form method="post">    

    <div class="form-group">
      <label for="subject">Subject</label>
      <input class="form-control" id="subject" name="subject" value="{{subject}}">
    </div>

    <div class="form-group">
      <label for="content">Content</label>      
      <textarea class="form-control" rows="8" id="content" name="content">{{content}}</textarea>
    </div>

    <div class="error">{{error}}</div>
    <input type="submit" class="btn btn-success" value="Submit">
  </form>



{% endblock %}
