{% extends "base.html" %}

{% block title %} Wiki {% endblock %}

{% block content %}

<div class="log">
    <div>
      {% if not user %}
      <a href="/wiki/_history{{url}}">history</a> &nbsp;&nbsp;&nbsp; 
      <a href="/login">login</a> | <a href="/signup">signup</a>
      {% else %}
      <a href="/wiki/_edit{{path}}">edit</a> | <a href="/wiki/_history{{path}}">history</a> &nbsp;&nbsp;&nbsp; {{user}} (<a href="/logout">logout</a>)
      {% endif %}
      </div>
      <br>      
</div>


<div>
  <a href="/wiki" class="link"> <h1 class="text-center">Wiki</h1> </a>
</div>

<div class="links col-md-1 col-md-offset-1 text-left" >
  <div style="position:absolute; top: 70px;">
    <h2>{{ path }} </h2>
    <p> {{content | safe }} </p>
  </div>
</div>

{% endblock %}